<div class="container">
	<div class="row mt-5">
		<div class="col-md-12">
			<h2>Danh mục sách</h2>
			<div class="row">
				<div class="col-md-12">
					{{#each this.category}}
					<a href="/danh-sach/{{this.id}}" class="btn btn-outline-success btn-lg">{{this.name}}</a>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	<div class="row my-5">
		<div class="col-md-12">
			<h2>Sách mới</h2>
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/i/m/image_123734.jpg"
							class="card-img-top" />
						<div class="card-body px-3 py-1">
							<h6><a href="/chi-tiet-sach/3">Card title</a></h6>
							<p class="card-text mb-1">Tác giả: dsdsadasdas</p>
							<p class="card-text">NXB: dasdsadas</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>