<div class="container">
	<div class="row mt-5">
		<div class="col-md-12">
			<h2>Sách bổ trợ môn học</h2>
			<div style="display: flex; justify-content: space-between">
				<div><a href="/" class="btn btn-outline-success btn-lg" style="width: 100%">Toán</a></div>
				<div><a href="/" class="btn btn-outline-success btn-lg" style="width: 100%">Vật lý</a></div>
				<div><a href="/" class="btn btn-outline-success btn-lg" style="width: 100%">Hóa học</a>
				</div>
				<div><a href="/" class="btn btn-outline-success btn-lg" style="width: 100%">Sinh học</a>
				</div>
				<div> <a href="/" class="btn btn-outline-success btn-lg" style="width: 100%">Ngữ văn</a>
				</div>
				<div><a href="/" class="btn btn-outline-success btn-lg" style="width: 100%">Tiếng Anh</a>
				</div>
				<div><a href="/" class="btn btn-outline-success btn-lg" style="width: 100%">Lịch sử</a>
				</div>
				<div> <a href="/" class="btn btn-outline-success btn-lg" style="width: 100%">Địa lý</a>
				</div>
				<div> <a href="/" class="btn btn-outline-success btn-lg" style="width: 100%">Tin học</a>
				</div>
				<div> <a href="/danh-sach/11" class="btn btn-outline-success btn-lg" style="width: 100%">Test</a>
				</div>
			</div>
		</div>
		<div class="col-md-12 mt-3">
			<h2>Sách khoa học thường thức</h2>
			<div class="row">
				<div class="col-md-4 my-1">
					<a href="/" class="btn btn-outline-primary btn-lg" style="width: 100%">Tâm lý - Kỹ năng sống</a>
				</div>
				<div class="col-md-4 my-1">
					<a href="/" class="btn btn-outline-primary btn-lg" style="width: 100%">Công nghệ - Kỹ thuật</a>
				</div>
				<div class="col-md-4 my-1">
					<a href="/" class="btn btn-outline-primary btn-lg" style="width: 100%">Chính trị - Văn hóa - Tôn
						giáo</a>
				</div>
				<div class="col-md-4 my-1">
					<a href="/" class="btn btn-outline-primary btn-lg" style="width: 100%">Thiên văn</a>
				</div>
				<div class="col-md-4 my-1">
					<a href="/" class="btn btn-outline-primary btn-lg" style="width: 100%">Thể thao</a>
				</div>
				<div class="col-md-4 my-1">
					<a href="/" class="btn btn-outline-primary btn-lg" style="width: 100%">Nghệ thuật</a>
				</div>
			</div>
		</div>
		<div class="col-md-12 mt-3">
			<h2>Tiểu thuyết - Giải trí</h2>
			<div class="row">
				<div class="col-md-4 my-1">
					<a href="/" class="btn btn-outline-danger btn-lg" style="width: 100%">Giải trí</a>
				</div>
				<div class="col-md-4 my-1">
					<a href="/" class="btn btn-outline-danger btn-lg" style="width: 100%">Truyện - Tiểu thuyết</a>
				</div>
				<div class="col-md-4 my-1">
					<a href="/" class="btn btn-outline-danger btn-lg" style="width: 100%">Khác</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-5">
		<div class="col-md-12">
			<h2>Sách mới</h2>
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/i/m/image_123734.jpg"
							class="card-img-top" />
						<div class="card-body px-3 py-1">
							<h6><a href="/chi-tiet-sach/3">Card title</a></h6>
							<p class="card-text mb-1">Tác giả: dsdsadasdas</p>
							<p class="card-text">NXB: dasdsadas</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>