<div class="container">
	<div class="row my-3">
		<div class="col-md-8">
			<h2>Kết quả tìm kiếm cho: abcd</h2>
		</div>
		<div class="col-md-4 text-right">
			<div class="input-group">
				<div class="input-group-prepend">
					<button class="btn btn-outline-secondary" type="button">
						Sắp xếp
					</button>
				</div>
				<select class="custom-select" id="inputGroupSelect01">
					<option selected>Mặc định</option>
					<option value="1">Tên</option>
					<option value="2">Năm xuất bản</option>
					<option value="3">Lượt mượn</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row my-3">
		<div class="col-md-3 my-2">
			<div class="card">
				<img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/8/9/8935235213746.jpg"
					class="card-img-top" />
				<div class="card-body px-3 py-1">
					<h6><a href="book.html">Card title</a></h6>
					<p class="card-text mb-1">Tác giả: dsdsadasdas</p>
					<p class="card-text">NXB: dasdsadas</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 my-2">
			<div class="card">
				<img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/8/9/8935235213746.jpg"
					class="card-img-top" />
				<div class="card-body px-3 py-1">
					<h6><a href="book.html">Card title</a></h6>
					<p class="card-text mb-1">Tác giả: dsdsadasdas</p>
					<p class="card-text">NXB: dasdsadas</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 my-2">
			<div class="card">
				<img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/8/9/8935235213746.jpg"
					class="card-img-top" />
				<div class="card-body px-3 py-1">
					<h6><a href="book.html">Card title</a></h6>
					<p class="card-text mb-1">Tác giả: dsdsadasdas</p>
					<p class="card-text">NXB: dasdsadas</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 my-2">
			<div class="card">
				<img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/8/9/8935235213746.jpg"
					class="card-img-top" />
				<div class="card-body px-3 py-1">
					<h6><a href="book.html">Card title</a></h6>
					<p class="card-text mb-1">Tác giả: dsdsadasdas</p>
					<p class="card-text">NXB: dasdsadas</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 my-2">
			<div class="card">
				<img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/8/9/8935235213746.jpg"
					class="card-img-top" />
				<div class="card-body px-3 py-1">
					<h6><a href="book.html">Card title</a></h6>
					<p class="card-text mb-1">Tác giả: dsdsadasdas</p>
					<p class="card-text">NXB: dasdsadas</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 my-2">
			<div class="card">
				<img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/8/9/8935235213746.jpg"
					class="card-img-top" />
				<div class="card-body px-3 py-1">
					<h6><a href="book.html">Card title</a></h6>
					<p class="card-text mb-1">Tác giả: dsdsadasdas</p>
					<p class="card-text">NXB: dasdsadas</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 my-2">
			<div class="card">
				<img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/8/9/8935235213746.jpg"
					class="card-img-top" />
				<div class="card-body px-3 py-1">
					<h6><a href="book.html">Card title</a></h6>
					<p class="card-text mb-1">Tác giả: dsdsadasdas</p>
					<p class="card-text">NXB: dasdsadas</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 my-2">
			<div class="card">
				<img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/400x400/9df78eab33525d08d6e5fb8d27136e95/8/9/8935235213746.jpg"
					class="card-img-top" />
				<div class="card-body px-3 py-1">
					<h6><a href="book.html">Card title</a></h6>
					<p class="card-text mb-1">Tác giả: dsdsadasdas</p>
					<p class="card-text">NXB: dasdsadas</p>
				</div>
			</div>
		</div>
	</div>

	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Trước</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#">Sau</a>
			</li>
		</ul>
	</nav>
</div>