<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{this.title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
</head>

<body style="overflow-x: hidden;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Thư viện trường THPT Nguyễn Du</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 mr-auto ml-5">
                <input class="form-control mr-sm-2" style="width: 300px" type="search" placeholder="Tìm kiếm"
                    aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Tìm kiếm
                </button>
            </form>
            <a href="/gio-hang" class="text-light"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            <a href="/login" class="text-light" style="margin-left: 20px;">Đăng nhập</a>
        </div>
    </nav>

    {{{body}}}


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/5eb528ba79.js" crossorigin="anonymous"></script>
    {{{_sections.js}}}
</body>

</html>