<div class="container">
    <div class="row my-3">
        <div class="col-md-12">
            <h2>Giỏ hàng</h2>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/i/m/image_123734.jpg"
                        alt="">
                </div>
                <div class="col-md-8">
                    <a href="/chi-tiet-sach/{{this.id}}">
                        {{this.title}}
                    </a>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-danger">
                        Xóa
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>