<div class="container">
    <div class="row my-3">
        <div class="col-md-12">
            <h2>Giỏ hàng</h2>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-12">
            {{#each this.list}}
            <div class="row">
                <div class="col-md-2">
                    <img src="/imgs/books/{{this.book.id}}.png" alt="">
                </div>
                <div class="col-md-8">
                    <a href="/chi-tiet-sach/{{this.id}}">
                        {{this.book.title}}
                    </a>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-danger">
                        Xóa
                    </button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>